  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(255, 96, 96);
    font-size:30px;
  }
  .heading_div
  {
    float:none;
    background:white; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    padding:10px;
  }
  .heading_div2
  {
    font-size: 18px;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px rgb(89, 0, 255);
    font-size: 20px;
  }
  body{
    background-repeat:no-repeat;
    background-size:cover;
  }
  .result_para_tag span {
    white-space:pre-line;
  }
  .copy_right_footer {
    position:fixed;
    color: rgb(4, 20, 255);
    background-color:cornflowerblue;
    bottom:0;
    font-size:30px;
    text-align:center;
    height:80px;
    width:100%;
  }
  canvas{
    border:5px dashed darkblue;
    border-radius:20px;
    box-shadow:5px 5px 5px rgb(48, 7, 144);
    margin-top:150px;

  }
 